* { margin: 0; }

html, body { height: 100% }

#container {
    min-height: 100%; /* was 100% originally as default */
    height: auto !important;
    height: 100%; /* was 100% originally as default (This should probably match the min-height above)*/
    margin: 0 auto -3em; /* the bottom margin is the negative value of the footer's height */
    margin-left: 5em;
    margin-right: 5em;
}

h1 { color: black; }

.footer {
    height: 3em;
    padding-top: 0.2em;
    overflow: auto;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    color: #777;
    text-align: center;
    width: 100%;
}

.footer a { color: #777; }

#content-wrap { padding-bottom: 3em; }

#contact-head { text-align: center; }

.team-row {
    text-align: center;
    font-size: 1.5em;
}

.team-row a{ 
    color: black;
    padding: 0.2em;
    margin: 0em 0.2em;
    border: 1px solid;
    border-color: #E7E7E7;
}

#make-trade-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
